*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 0 5rem 5rem;
  font-family: $sans;
  transition: 0.3s;
  animation: fadeIn 0.3s ease-in;

  &.dark {
    background-color: $black;
  }

  @media (max-width: 37.5em) {
    padding: 0 3rem 3rem;
  }
  @media (max-width: 25em) {
    padding: 0 2.4rem 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
