//DARK MODE TOGGLE
.toggle-switch {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  max-width: 4rem;

  .check {
    position: absolute;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    &:checked ~ .track {
      background-color: $magenta;
    }

    &:checked ~ .track::before {
      transform: translate(2.1rem, -50%);
    }

    &:not(:checked) ~ .track:hover {
      background-color: $magenta;
    }
  }

  .track {
    height: 100%;
    width: 100%;
    background-color: $grey;
    display: inline-block;
    position: absolute;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      background-color: $white;
      height: 1.6rem;
      width: 1.6rem;
      border-radius: 50%;
      transform: translate(0.3rem, -50%);
      transition: all 0.3s;
    }
  }
}

//VERTICAL AND HORIZONTAL LINES
.vertical-line {
  height: 3.2rem;
  display: inline-block;
  background-color: $grey-light-1;
  width: 1px;
}

.horizontal-line {
  height: 1px;
  display: inline-block;
  background-color: $grey-light-1;
  width: 100%;

  .body.dark {
    background-color: $grey-dark-3;
  }
}

//DROPDOWN MENU
.dropdown {
  position: relative;
  min-width: 11rem;
  display: flex;
  justify-content: flex-end;
}

.select-btn {
  font-size: 1.8rem;
  border: none;
  color: $grey-dark-2;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;

  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 25em) {
    font-size: 1.4rem;
    gap: 1.2rem;
  }

  .body.dark & {
    color: $white;
  }
}

.arrow {
  background-image: url(../../assets/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1rem;
  width: 1.4rem;
  margin-left: 0.6rem;
}

.select-dropdown {
  position: absolute;
  list-style: none;
  min-width: 16rem;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 2.4rem;
  transition: 0.5s ease;
  z-index: 4;
  font-size: 1.8rem;
  margin-top: 4rem;
  transform: translateY(-8rem);
  opacity: 0;
  visibility: hidden;
  font-weight: 700;

  @media (max-width: 25em) {
    font-size: 1.4rem;
  }

  .body.dark & {
    background-color: $grey-dark-1;
    box-shadow: 0px 5px 30px 0px #a445ed;

    li {
      color: $white;
    }
  }

  li {
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    color: $grey-dark-2;

    label {
      padding: 8px 10px;
      cursor: pointer;
    }
  }

  input[type='radio'] {
    position: absolute;
    left: 0;
    opacity: 0;
  }

  #sans-serif ~ label {
    font-family: $sans;
  }
  #serif ~ label {
    font-family: $serif;
  }
  #mono ~ label {
    font-family: $mono;
  }
}

.select-dropdown.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.select-dropdown li .select-dropdown li:hover,
.select-dropdown input:checked ~ label {
  color: $magenta;
}

//BUTTONS

.btn-play {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url(../../assets/images/icon-play.svg);
  background-size: cover;
  background-color: $white;
  transition: all 0.3s;
  box-shadow: 0 1rem 2rem rgba($grey-dark-3, 0.12);

  @media (max-width: 37.5em) {
    width: 6rem;
    height: 6rem;
  }
  @media (max-width: 25em) {
    width: 4.8rem;
    height: 4.8rem;
  }

  .body.dark & {
    background-color: $grey-dark-1;
  }
  &:hover {
    background-image: url(../../assets/images/icon-play--white.svg);
  }

  &:active {
    transform: scale(0.96);
    box-shadow: 0 1rem 1rem rgba($grey-dark-3, 0.18);
  }
}
