.toolbar {
  display: flex;
  align-items: center;
  gap: 2rem;

  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 5.8rem 0;

  @media (max-width: 25em) {
    padding: 2.8rem 0;
    gap: 1.3rem;
  }

  .dropdown-menu {
    margin-left: auto;
  }
}

.search {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.main {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 4.5rem;

  @media (max-width: 25em) {
    margin-top: 2.4rem;
  }
}
