.dark-mode {
  height: 2rem;
  width: 7.4rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;

  &__icon-box {
    height: 2rem;
    width: 3.2rem;
    background-color: $grey;
    mask-image: url(../../assets/images/icon-moon.svg);
    -webkit-mask-image: url(../../assets/images/icon-moon.svg);
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }
}
