//COLORS

$black: #050505;
$white: #fff;
$magenta: #a445ed;
$orange-red: #ff5252;
$grey: #757575;

$grey-dark-1: #1f1f1f;
$grey-dark-2: #2d2d2d;
$grey-dark-3: #3a3a3a;

$grey-light-1: #e9e9e9;
$grey-light-2: #f4f4f4;

// $name = 'default';
//
