.heading-lg {
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #2d2d2d;
}
@media (max-width: 37.5em) {
  .heading-lg {
    font-size: 5rem;
  }
}
@media (max-width: 25em) {
  .heading-lg {
    font-size: 3.2rem;
  }
}

.heading-md {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 25em) {
  .heading-md {
    font-size: 1.6rem;
  }
}

.heading-sm {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #757575;
}
@media (max-width: 25em) {
  .heading-sm {
    font-size: 1.6rem;
  }
}

.body-md {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem;
  color: #2d2d2d;
}
@media (max-width: 25em) {
  .body-md {
    font-size: 1.5rem;
  }
}

.body-sm {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 25em) {
  .body-sm {
    font-size: 1.4rem;
  }
}

.body.dark .heading-lg,
.body.dark .body-md,
.body.dark .body-sm {
  color: #fff;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 5.8rem 0;
}
@media (max-width: 25em) {
  .navigation {
    padding: 2.8rem 0;
    gap: 1.3rem;
  }
}
.navigation .dropdown {
  margin-left: auto;
}

.search {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
}

.main {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  margin-top: 4.5rem;
}
@media (max-width: 25em) {
  .main {
    margin-top: 2.4rem;
  }
}

.dark-mode {
  height: 2rem;
  width: 100%;
  max-width: 8rem;
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.dark-mode__icon-box {
  height: 2rem;
  width: 2rem;
  background-color: #757575;
  mask-image: url(../../assets/images/icon-moon.svg);
  -webkit-mask-image: url(../../assets/images/icon-moon.svg);
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}
.body.dark .dark-mode__icon-box {
  background-color: #a445ed;
}

.search form {
  position: relative;
}
.search__input {
  border: 1px solid transparent;
  padding: 2rem 2.4rem;
  background-color: #f4f4f4;
  border-radius: 1.6rem;
  font-weight: 700;
  width: 100%;
  font-size: 2rem;
  color: #2d2d2d;
  font-family: inherit;
}
@media (max-width: 25em) {
  .search__input {
    font-size: 1.6rem;
    padding: 1.4rem 2.4rem;
  }
}
.search__input::placeholder {
  color: rgba(45, 45, 45, 0.25);
}
.body.dark .search__input {
  background-color: #1f1f1f;
  color: #fff;
}
.body.dark .search__input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}
.search__input--error {
  border-color: #ff5252 !important;
}
.search__input:focus {
  outline: none;
  box-shadow: 0rem 1rem 2rem rgba(58, 58, 58, 0.1);
  border-color: #a445ed;
}
.search__icon {
  position: absolute;
  top: 50%;
  transform: translate(-4.2rem, -50%);
}

.error-msg {
  color: #ff5252;
  font-size: 1.8rem;
  margin-top: 0.8rem;
  display: none;
  visibility: hidden;
}

.error-msg.show {
  display: block;
  visibility: visible;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  padding: 0 5rem 5rem;
  font-family: "Inter", sans-serif;
  transition: 0.3s;
  animation: fadeIn 0.3s ease-in;
}
body.dark {
  background-color: #050505;
}
@media (max-width: 37.5em) {
  body {
    padding: 0 3rem 3rem;
  }
}
@media (max-width: 25em) {
  body {
    padding: 0 2.4rem 3rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.toggle-switch {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  max-width: 4rem;
}
.toggle-switch .check {
  position: absolute;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.toggle-switch .check:checked ~ .track {
  background-color: #a445ed;
}
.toggle-switch .check:checked ~ .track::before {
  transform: translate(2.1rem, -50%);
}
.toggle-switch .check:not(:checked) ~ .track:hover {
  background-color: #a445ed;
}
.toggle-switch .track {
  height: 100%;
  width: 100%;
  background-color: #757575;
  display: inline-block;
  position: absolute;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}
.toggle-switch .track::before {
  content: "";
  position: absolute;
  top: 50%;
  background-color: #fff;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  transform: translate(0.3rem, -50%);
  transition: all 0.3s;
}

.vertical-line {
  height: 3.2rem;
  display: inline-block;
  background-color: #e9e9e9;
  width: 1px;
}

.horizontal-line {
  height: 1px;
  display: inline-block;
  background-color: #e9e9e9;
  width: 100%;
}
.horizontal-line .body.dark {
  background-color: #3a3a3a;
}

.dropdown {
  position: relative;
  min-width: 11rem;
  display: flex;
  justify-content: flex-end;
}

.select-btn {
  font-size: 1.8rem;
  border: none;
  color: #2d2d2d;
  font-weight: 700;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  gap: 1.6rem;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 25em) {
  .select-btn {
    font-size: 1.4rem;
    gap: 1.2rem;
  }
}
.body.dark .select-btn {
  color: #fff;
}

.arrow {
  background-image: url(../../assets/images/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 1rem;
  width: 1.4rem;
  margin-left: 0.6rem;
}

.select-dropdown {
  position: absolute;
  list-style: none;
  min-width: 16rem;
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 1.6rem;
  padding: 2.4rem;
  transition: 0.5s ease;
  z-index: 4;
  font-size: 1.8rem;
  margin-top: 4rem;
  transform: translateY(-8rem);
  opacity: 0;
  visibility: hidden;
  font-weight: 700;
}
@media (max-width: 25em) {
  .select-dropdown {
    font-size: 1.4rem;
  }
}
.body.dark .select-dropdown {
  background-color: #1f1f1f;
  box-shadow: 0px 5px 30px 0px #a445ed;
}
.body.dark .select-dropdown li {
  color: #fff;
}
.select-dropdown li {
  position: relative;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  color: #2d2d2d;
}
.select-dropdown li label {
  padding: 8px 10px;
  cursor: pointer;
}
.select-dropdown input[type=radio] {
  position: absolute;
  left: 0;
  opacity: 0;
}
.select-dropdown #sans-serif ~ label {
  font-family: "Inter", sans-serif;
}
.select-dropdown #serif ~ label {
  font-family: "Lora", serif;
}
.select-dropdown #mono ~ label {
  font-family: "Inconsolata", monospace;
}

.select-dropdown.active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.select-dropdown li .select-dropdown li:hover,
.select-dropdown input:checked ~ label {
  color: #a445ed;
}

.btn-play {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-image: url(../../assets/images/icon-play.svg);
  background-size: cover;
  background-color: #fff;
  transition: all 0.3s;
  box-shadow: 0 1rem 2rem rgba(58, 58, 58, 0.12);
}
@media (max-width: 37.5em) {
  .btn-play {
    width: 6rem;
    height: 6rem;
  }
}
@media (max-width: 25em) {
  .btn-play {
    width: 4.8rem;
    height: 4.8rem;
  }
}
.body.dark .btn-play {
  background-color: #1f1f1f;
}
.btn-play:hover {
  background-image: url(../../assets/images/icon-play--white.svg);
}
.btn-play:active {
  transform: scale(0.96);
  box-shadow: 0 1rem 1rem rgba(58, 58, 58, 0.18);
}

.loading-spinner {
  display: flex;
  justify-content: center;
  padding: 6rem;
  display: none;
}
.loading-spinner.show {
  display: flex;
}

.found {
  display: none;
}
.found.show {
  display: block;
}

.definition {
  display: grid;
  grid-template-columns: 1fr max-content;
}
.definition__btn {
  grid-column: 2;
  grid-row: 1/span 2;
  align-self: center;
}

.phonetic {
  margin-top: 0.8rem;
  color: #a445ed;
}

.part-of-speech {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: 700;
  line-height: normal;
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #2d2d2d;
}
.body.dark .part-of-speech {
  color: #fff;
}
@media (max-width: 25em) {
  .part-of-speech {
    font-size: 1.8rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.meaning__list {
  margin: 2.5rem 0 2.2rem;
  list-style-type: none;
}
.meaning__list-item {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.meaning__list-item--example {
  color: #757575;
  margin-left: 3rem;
}
.body.dark .meaning__list-item--example {
  color: #757575;
}
.meaning__list-item:not(:last-child) {
  margin-bottom: 1.3rem;
}
.meaning__list-disc {
  display: block;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: #a445ed;
  flex-shrink: 0;
}

.synonym {
  margin-top: 4rem;
}
.synonym__link:link, .synonym__link:visited {
  color: #a445ed;
  text-decoration: none;
  font-weight: 700;
  margin-left: 2.2rem;
}

.source {
  margin-top: 2rem;
  color: #757575;
}
.body.dark .source {
  color: #757575;
}
.source__link:link, .source__link:visited {
  color: #2d2d2d;
  margin-left: 2rem;
}

.not-found {
  text-align: center;
  display: none;
}
.not-found__heading {
  color: #2d2d2d;
  font-family: inherit;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 2.4rem;
}
.body.dark .not-found__heading {
  color: #fff;
}
.not-found__emoji {
  font-size: 6.4rem;
  margin-bottom: 4.4rem;
}
.not-found.show {
  display: block;
  animation: fadeIn 0.3s ease-in;
}

/*# sourceMappingURL=style.css.map */
